{
	"useTabs": false,
	"tabWidth": 2,
	"singleQuote": false,
	"trailingComma": "none",
	"proseWrap": "always",
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "crlf",
	"singleAttributePerLine": true,
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": false,
	"printWidth": 120
  }
  